<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"
 
#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

<h1>
Calls
</h1>
<!-- 
<h3><a href="call_for_papers.html">Call for Papers</a></h3>
<h3><a href="call_for_workshops.html">Call for Workshops</a></h3> -->
<h3><a href="call_for_posters_and_demos.html">Call for Posters and Demos</a></h3>
<!-- 
<h3><a href="call_for_ds.html">Call for Doctoral Symposium</a></h3>
<h3><a href="call_for_tutorials.html">Call for Tutorials</a></h3>
-->

				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
