<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
  <body>
    <header id="saso-banner">
      <div class="container">
        <table cellspacing="0" cellpadding="0"><tr>
        <td>
          <img src="resources/logo-header.png" id="saso-banner-logo" class="hidden-xs" alt="SASO" />
        </td>
        <td>
          <div id="saso-banner-title">SASO 2016</div>
          <div id="saso-banner-subtitle">10th IEEE International Conference on Self-Adaptive<br class="hidden-xs hidden-sm hidden-lg" /> and Self-Organizing Systems</div>
          <div id="saso-banner-location">University of Augsburg, Augsburg, Germany &middot; 12-16 September 2016</div>
        </td>
        </tr></table>
        <img src="resources/skyline.png" id="saso-banner-skyline" class="hidden-xs hidden-sm" />
      </div>
    </header>

#include "navbar.include.html"

    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">

<h1>
Call for Tutorials
</h1>

<p>
  <em>The accepted tutorials can be found <a href="tutorials.html">here</a>.</em>
</p>

<p>
The 16th International Conference on Cloud and Autonomic Computing (ICCAC 2016) and 10th IEEE International Conference on Self-Adaptive and Self-Organizing Systems (SASO 2016) joint Call for Tutorial Proposals:
</p>

<p>
Autonomic computing and self-organizing systems require an interdisciplinary approach, pulling in expertise from a wide range of scientific and computational communities. One of the most difficult challenges in an interdisciplinary community is building up an understanding of the relevant knowledge pulled in from different communities. In 2016, in addition to the tutorials that deepen our understanding of existing work and expand into new frontiers, we especially welcome tutorials that help us bridge our communities to other relevant research and application communities.
</p>

<p>
In 2016, the two FAS* (Foundation and Applications of Self*-Systems) conferences will host a joint tutorial program. We solicit proposals for tutorials for presentation at the 16th International Conference on Cloud and Autonomic Computing (ICCAC) and the 10th IEEE International Conference on Self-Adaptive and Self-Organizing Systems (SASO 2016). Proposals should clearly state what the goals of the tutorial (e.g., survey, practicum, laboratory, introduction, etc.) and what the participants should expect in terms of experience and materials provided. As noted, the tutorial should communicate to participants from diverse fields of expertise. 
</p>

<h2>
Important Dates
</h2>

<table class="dates-table">
  <tr><td><del>Tutorial Proposal submission</del></td> <td class="date"><del>April 4, 2016</del></td></tr>
  <tr><td><del>Tutorial Acceptance Notification</del></td> <td class="date"><del> April 25, 2016 </del></td></tr>
  <tr><td>Camera-ready course material due</td> <td class="date"> July 22, 2016 </td></tr>
  <tr><td>Tutorial dates</td> <td class="date"> September 12, 2016 and September 16, 2016 </td></tr>
</table>

<h2>
Submission Guidelines
</h2>

<p>
Each submission should include the following information: 
The proposed tutorial title.
The preferred duration (half day or full day). If both options are possible, the proposal should identify which material is to be included for each length.
An abstract. The abstract should include the goals for the course (e.g., research survey, practicum, introduction etc.) and what the participant is expected to obtain from the course.
Enough detail to provide a sense of both the scope of material to be covered and the depth to which it will be covered.
A short description of the intended audience and any prerequisite knowledge for attendees.
A very brief biography of the proposed presenter(s), along with contact information.
If (part of) the tutorial material or an earlier version of it has been presented elsewhere, the proposal should indicate those respective events (and dates), and describe how the current proposal differs from the previous editions. 
</p>

<p>
Formatting guidelines:
<ul>
  <li>Up to 5 pages</li>
  <li>11pt or larger font</li>
  <li>Single- or double-column</li>
</ul>
</p>

<p>
A short description of the tutorial (up to 2 pages), formatted according to the standard IEEE Computer Society Press proceedings style guide, will be included in the IEEE FAS*W proceedings. Tutorial slides are expected to be made available to conference participants.
</p>

<h2>
Submissions and Inquiries
</h2>

<p>
Please send proposals (as a PDF document) and inquiries to: 
<a href="mailto:Kirstie.L.Bellman@aero.org">Kirstie.L.Bellman@aero.org</a> and <a href="mailto:samehe@microsoft.com">samehe@microsoft.com</a> by April 4, 2016.
</p>

<h2>
Contact Information
</h2>

<p>
For any further information, please contact the <a href="committees.html#tutorial_chair">Tutorial Chair</a>.
</p>

        </div>
        <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
        </div>
      </div>
    </div>

#include "footer.include.html"

    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/ie10-viewport-bug-workaround.js"></script>
    <script src="libs/twitter_embed.js"></script>
  </body>
</html>
