<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
        
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Committees</h1>

					<div id="commitee-accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="steering-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#commitee-accordion" href="#steering-collapse" aria-expanded="true" aria-controls="steering-collapse">
										Steering Committee
									</a>
								</h4>
							</div>
							<div id="steering-collapse" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="steering-heading">
								<ul>
									<li>
										<a target="_blank" href="http://www.cs.unibo.it/%7Ebabaoglu/">Ozalp Babaoglu</a>, University of Bologna, Italy 
									</li>
                                    	<li>
										<a target="_blank" href="http://people.csail.mit.edu/rladdaga/">Robert Laddaga</a>, MIT, USA
									</li>
									<li>
										<a target="_blank" href="http://shidler.hawaii.edu/directory/rick-kazman/itm">Rick Kazman</a>,  IEEE TCSE Chair
									</li>
                                    <li>
										<a target="_blank" href="http://people.csail.mit.edu/hes">Howard E. Shrobe</a>, Massachusetts Institute of Technology, USA
									</li>
                                    <li>
										<a target="_blank" href="http://www.agentgroup.unimore.it/Zambonelli/">Franco Zambonelli</a>, Università di Modena e Reggio Emilia, Italy
									</li>
							    	<li>
										<a target="_blank" href="https://dist-systems.bbn.com/people/jbeal/">Jake Beal</a>, BBN Technologies and MIT, USA
									</li>
                                    <li>
										<a target="_blank" href="http://www.imperial.ac.uk/people/j.pitt">Jeremy Pitt</a>, Imperial College, UK
									</li>
                                    <li>
										<a target="_blank" href="https://www.sg.ethz.ch/team/people/ischoltes/">Ingo Scholtes</a>, ETHZ Zurich, Switzerland
									</li>
                                    <li>
										<a target="_blank" href="https://www.chalmers.se/en/staff/Pages/jan-philipp-steghofer.aspx">Jan-Philipp Steghöfer</a>, University of Gothenburg, Sweden
									</li>
									<li>
										<a target="_blank" href="http://soa.fbk.eu/valetto">Giuseppe (Peppo) Valetto</a>, Fondazione Bruno Kessler, Trento, Italy
									</li>									
									<li>
										<a target="_blank" href="http://adadiaconescu.there-you-are.com/">Ada Diaconescu</a>, Telecom ParisTech, France
									</li>
									<li>
										<a target="_blank" href="http://www.iidi.napier.ac.uk/c/people/peopleid/102">Emma Hart</a>, Edinburgh Napier University, UK
									</li>								
								</ul>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="technical-heading">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#commitee-accordion" href="#technical-collapse" aria-expanded="false" aria-controls="technical-collapse">
										Technical Meeting Committee
									</a>
								</h4>
							</div>
							<div id="technical-collapse" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="technical-heading">
								<h4>
									General Chair
								</h4>
								<ul>
									<li><a target="_blank" href="http://adadiaconescu.there-you-are.com/">Ada Diaconescu</a>, Telecom ParisTech, FR</li>
								</ul>
								<a class="anchor" id="program_chairs"></a>
								<h4>
									Program Chairs
								</h4>
								<ul>
									<li><a target="_blank" href="http://www.isse.uni-augsburg.de/staff/seebach/">Hella Seebach</a>, Institute for Software & Systems Engineering, University of Augsburg, DE</li>
									<li><a target="_blank" href="http://www.aston.ac.uk/eas/staff/a-z/dr-peter-lewis/">Peter Lewis</a>, School of Engineering and Applied Science, Aston University, UK</li>
									<li><a target="_blank" href="http://www.ics.uci.edu/~malek/">Sam Malek</a>, University of California Irvine, CA, USA</li>
								</ul>
                                <a class="anchor" id="workshop_chair"></a>
								<h4>Workshops and Tutorials Chairs (shared with ICCAC)</h4>
									<ul>
										<li><a target="_blank" href="http://christopherfrantz.org/">Christopher Frantz</a>,  Department of Information Science, University of Otago, NZ</li>
                                        <li><a target="_blank" href="http://www.imperial.ac.uk/people/j.pitt">Jeremy Pitt</a>, Department of Electrical and Electronic Engineering, Imperial College London, UK</li>
									</ul>
						
								<a class="anchor" id="posters_and_demos_chair"></a>
								<h4>Posters and Demos Chair</h4>
									<ul>						
                                        <li><a target="_blank" href="http://www.lukasesterle.com/">Lukas Esterle</a>, Vienna University of Technology </li>
									</ul>
								<a class="anchor" id="doctoral_symposium_chair"></a>
								<h4>Doctoral Symposium Chair (shared with ICCAC)</h4>
									<ul>
										<li><a target="_blank" href="http://research.botev.net/">Jean Botev</a>, University of Luxemburg, LU</li>
									</ul>
								<h4>Industry and Sponsorship Chair (shared with ICCAC)</h4>
									<ul>
									 <li>
										<a target="_blank" href="https://dist-systems.bbn.com/people/jbeal/">Jake Beal</a>, BBN Technologies and MIT, USA
									</li>
									</ul>
								<h4>Publication Chair</h4>
									<ul>
										<li><a target="_blank" href="http://www.ies.uni-kassel.de/Tomforde">Sven Tomforde</a>, Kassel University, DE</li>
									</ul>
								<h4>Publicity Chair (shared with ICCAC)</h4>
									<ul>
										<li><a target="_blank" href="https://www.htwsaar.de/ingwi/fakultaet/personen/profile/markus-esch">Markus Esch</a>, University of Applied Sciences in Saarbrücken, DE</li>
									</ul>
								<h4>Web Chair</h4>
									<ul>
										<li><a target="_blank" href="http://www.isse.uni-augsburg.de/staff/schiendorfer/">Alexander Schiendorfer</a>, Institute for Software & Systems Engineering, University of Augsburg, DE</li>
									</ul>
								<h4>Finance Chair</h4>
									<ul>
										<li><a target="_blank" href="http://www2.engr.arizona.edu/~cihantunc/">Cihan Tunc</a>, The University of Arizona, Tucson, AZ, USA </li>
									</ul>
								<h4>Local Arrangement Chair</h4>
									<ul>
										<li><a target="_blank" href="http://www2.engr.arizona.edu/~akoglu/">Ali Akoglu</a>, The University of Arizona, Tucson, AZ, USA</li>
									</ul>
							</div>
						</div>
                        <!--
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="program-heading">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#commitee-accordion" href="#program-collapse" aria-expanded="false" aria-controls="program-collapse">
										Program Committee
									</a>
								</h4>
							</div>
							<div id="program-collapse" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="program-heading">
								<h4>
									Chairs
								</h4>
								<ul>
									<li><a target="_blank" href="http://www.emse.fr/~picard/">Gauthier Picard</a>, Laboratoire Hubert Curien UMR CNRS 5516, Institut Henri Fayol, MINES Saint-Etienne, FR</li>
									<li><a target="_blank" href="http://personale.unimore.it/rubrica/dettaglio/gcabri">Giacomo Cabri</a>, Department of Physics, Informatics and Mathematics, University of Modena and Reggio Emilia, IT</li>
									<li><a target="_blank" href="http://www.ihmc.us/groups/nsuri/">Niranjan Suri</a>, Florida Institute of Human and Machine Cognition, FL, USA</li>
								</ul>
								<h4>
									Members
								</h4>
								<ul>
									<li><a target="_blank" href="mailto:abdalkarim.awad@informatik.uni-erlangen.de">Abdalkarim Awad</a>, University of Erlangen </li>
									<li><a target="_blank" href="mailto:ada.diaconescu@telecom-paristech.fr">Ada Diaconescu</a>, Telecom ParisTech  CNRS LTCI</li>
									<li><a target="_blank" href="http://www.units.it/bartolia">Alberto Bartoli</a>, Università degli Studi di Trieste - DEEI </li>
									<li><a target="_blank" href="http://www.iit.demokritos.gr/~a.artikis/">Alexander Artikis</a>, NCSR "Demokritos" </li>
									<li><a target="_blank" href="http://www.informatik.uni-augsburg.de/lehrstuehle/swt/se/staff/aschiendorfer/">Alexander Schiendorfer</a>, University Augsburg </li>
									<li><a target="_blank" href="http://andreaomicini.apice.unibo.it/">Andrea Omicini</a>, Alma Mater Studiorum–Università di Bologna </li>
									<li><a target="_blank" href="mailto:bucchiarone@fbk.eu">Antonio Bucchiarone</a>, FBK-IRST </li>
									<li><a target="_blank" href="http://www.isse.uni-augsburg.de/staff/eberhardinger/">Benedikt Eberhardinger</a>, University of Augsburg </li>
									<li><a target="_blank" href="mailto:bivas@cse.iitkgp.ernet.in">Bivas Mitra</a>, Indian Institute of Technology Kharagpur </li>
									<li><a target="_blank" href="mailto:mastroianni@icar.cnr.it">Carlo Mastroianni</a>, ICAR-CNR </li>
									<li><a target="_blank" href="mailto:christian.becker@uni-mannheim.de">Christian Becker</a>, University of Mannheim </li>
									<li><a target="_blank" href="http://www.bettstetter.com">Christian Bettstetter</a>, University of Klagenfurt </li>
									<li><a target="_blank" href="http://homepage.lnu.se/staff/daweaa/index.htm">Danny Weyns</a>, Linnaeus University </li>
									<li><a target="_blank" href="mailto:david.sanderson@nottingham.ac.uk">David Sanderson</a>, University of Nottingham </li>
									<li><a target="_blank" href="mailto:didac.busquets@ts.catapult.org.uk">Dídac Busquets</a>, Transport Systems Catapult </li>
									<li><a target="_blank" href="mailto:franco.zambonelli@unimore.it">Franco Zambonelli</a>, University of Modena and Reggio Emilia </li>
									<li><a target="_blank" href="http://liris.cnrs.fr/membres?idn=farmetta">Frédéric Armetta</a>, Université Claude Bernard-Lyon 1</li>
									<li><a target="_blank" href="http://cui.unige.ch/~dimarzo/">Giovanna Di Marzo Serugendo</a>, University of Geneva </li>
									<li><a target="_blank" href="mailto:valetto@fbk.eu">Giuseppe Valetto</a>, Fondazione Bruno Kessler </li>
									<li><a target="_blank" href="mailto:hermann.demeer@uni-passau.de">Hermann De Meer</a>, University of Passau </li>
									<li><a target="_blank" href="http://www-ise4.ist.osaka-u.ac.jp/~h-nakagawa/">Hiroyuki Nakagawa</a>, Osaka University </li>
									<li><a target="_blank" href="http://www.hpi.uni-potsdam.de/giese/personen/prof_dr_holger_giese.html">Holger Giese</a>, Hasso Plattner Institute at the University of Potsdam </li>
									<li><a target="_blank" href="mailto:hes@csail.mit.edu">Howard Shrobe</a>, Massachusetts Institute of Technology </li>
									<li><a target="_blank" href="mailto:jakebeal@bbn.com">Jacob Beal</a>, BBN Technologies </li>
									<li><a target="_blank" href="mailto:james.r.michaelis2.civ@mail.mil">James Michaelis</a>, U.S. Army Research Laboratory </li>
									<li><a target="_blank" href="http://repmus.ircam.fr/giavitto">Jean-Louis Giavitto</a>, IRCAM - UMR STMS 9912 CNRS </li>
									<li><a target="_blank" href="http://lcis.grenoble-inp.fr/membres-/jean-paul-jamont-personal-web-page-465144.kjsp">Jean-Paul Jamont</a>, University of Grenoble</li>
									<li><a target="_blank" href="https://www.irit.fr/~Jean-Pierre.George/">Jean-Pierre Georgé</a>, University of Toulouse</li>
									<li><a target="_blank" href="http://pages.cpsc.ucalgary.ca/~denzinge/">Joerg Denzinger</a>, Department of Computer Science, University of Calgary</li>
									<li><a target="_blank" href="mailto:karin.hummel@tik.ee.ethz.ch">Karin Anna Hummel</a>, ETH Zurich </li>
									<li><a target="_blank" href="http://www.vs.uni-kassel.de">Kurt Geihs</a>, Universitaet Kassel </li>
									<li><a target="_blank" href="http://aose.pa.icar.cnr.it/sabatucci/">Luca Sabatucci</a>, Italian CNR of Palermo</li>
									<li><a target="_blank" href="http://home.deib.polimi.it/baresi/">Luciano Baresi</a>, DEIB - Politecnico di Milano </li>
									<li><a target="_blank" href="http://lukasesterle.wordpress.com">Lukas Esterle</a>, Vienna University of Technology </li>
									<li><a target="_blank" href="http://www.maia.ub.es/~maite/">Maite Lopez-Sanchez</a>, University of Barcelona </li>
									<li><a target="_blank" href="http://www.cs.rug.nl/~aiellom">Marco Aiello</a>, University of Groningen </li>
									<li><a target="_blank" href="mailto:gleizes@irit.fr">Marie-Pierre Gleizes</a>, IRIT - Université de Toulouse </li>
									<li><a target="_blank" href="http://www.inf.u-szeged.hu/~jelasity/">Mark Jelasity</a>, University of Szeged </li>
									<li><a target="_blank" href="http://www.markusesch.net">Markus Esch</a>, Fraunhofer FKIE </li>
									<li><a target="_blank" href="http://www.ulster.ac.uk/staff/md.mulvenna.html">Maurice Mulvenna</a>, University of Ulster </li>
									<li><a target="_blank" href="http://mirkoviroli.apice.unibo.it">Mirko Viroli</a>, Università di Bologna </li>
									<li><a target="_blank" href="http://www.nellybencomo.me">Nelly Bencomo</a>, Aston University </li>
									<li><a target="_blank" href="mailto:ozalp.babaoglu@unibo.it">Ozalp Babaoglu</a>, University of Bologna </li>
									<li><a target="_blank" href="http://www.cse.msu.edu/~mckinley">Philip Mckinley</a>, Michigan State University </li>
									<li><a target="_blank" href="http://www.dsg.cs.tcd.ie/rene.meier/">Rene Meier</a>, Lucerne University of Applied Sciences </li>
									<li><a target="_blank" href="mailto:rladdaga@csail.mit.edu">Robert Laddaga</a>, DARPA, USA</li>
									<li><a target="_blank" href="http://www.cs.kent.ac.uk/people/staff/rdl/">Rogério de Lemos</a>, University of Kent </li>
									<li><a target="_blank" href="mailto:r.sterritt@ulster.ac.uk">Roy Sterritt</a>, School of Computing and Mathematics  Ulster University</li>
									<li><a target="_blank" href="http://liris.cnrs.fr/salima.hassas">Salima Hassas</a>, Universit Claude Bernard-Lyon1 </li>
									<li><a target="_blank" href="https://malek.ics.uci.edu/">Sam Malek</a>, University of California  Irvine</li>
									<li><a target="_blank" href="http://www.descartes-research.net">Samuel Kounev</a>, University of Würzburg</li>
									<li><a target="_blank" href="http://www.infosys.tuwien.ac.at/Staff/sd">Schahram Dustdar</a>, TU Wien </li>
									<li><a target="_blank" href="mailto:sherif@ece.msstate.edu">Sherif Abdelwahed</a>, Mississippi State University </li>
									<li><a target="_blank" href="http://www.simondobson.org">Simon Dobson</a>, University of St Andrews </li>
									<li><a target="_blank" href="mailto:Simone.Ludwig@ndsu.edu">Simone Ludwig</a>, North Dakota State University </li>
									<li><a target="_blank" href="http://apice.unibo.it/xwiki/bin/view/StefanoMariani/">Stefano Mariani</a>, University of Bologna </li>
									<li><a target="_blank" href="mailto:tatsuo@dcl.cs.waseda.ac.jp">Tatsuo Nakajima</a>, Waseda University </li>
									<li><a target="_blank" href="http://membres-lig.imag.fr/demazeau/">Yves Demazeau</a>, CNRS - LIG </li>
								</ul>
							</div>
						</div>
                        -->
                    </div>

				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script type="text/javascript">
			$("#steering-collapse").collapse("show");
			$("#technical-collapse").collapse("show");
			$("#program-collapse").collapse("show");
		</script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
