		<header id="saso-banner">
			<div class="container">
				<table cellspacing="0" cellpadding="0"><tr>
				<td>
					<img src="resources/logo-header.png" id="saso-banner-logo" class="hidden-xs" alt="SASO" />
				</td>
				<td> 
					<div id="saso-banner-title">SASO 2017</div>
					<div id="saso-banner-subtitle">11th IEEE International Conference on Self-Adaptive<br class="hidden-xs hidden-sm hidden-lg" /> and Self-Organizing Systems</div>
					<div id="saso-banner-location">University of Arizona, Tucson, AZ &middot; 18-22 September 2017</div>
				</td> 
				</tr></table>
				<!-- <img src="resources/skyline.png" id="saso-banner-skyline" class="hidden-xs hidden-sm" /> -->
			</div>
		</header>
