<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>History</h1>
					<p>
						The SASO conference series results from the merger of four workshop series:
						<ul>
							<li>International Workshop on Engineering Self-Organizing Applications (ESOA): <a target="_blank" href="http://www.informatik.uni-trier.de/%7Eley/db/conf/atal/esoa2003.html" target="_blank">2003</a>, <a target="_blank" href="http://esoa.unige.ch/esoa04-cfp.html" target="_blank">2004</a>, <a target="_blank" href="http://esoa.unige.ch/esoa05-cfp.html" target="_blank">2005</a>, <a target="_blank" href="http://esoa.altarum.net/esoa06/" target="_blank">2006</a></li>
							<li>International Workshop on Self-Managed Networks, Systems and Services (SelfMan): <a target="_blank" href="http://www.labunix.uqam.ca/~jpmf/selfman2005/" target="_blank">2005</a>, <a target="_blank" href="http://research.ihost.com/selfman2006/" target="_blank">2006</a></li>
							<li>International Workshop on Self-* Properties in Complex Information Systems (Self-Star): <a target="_blank" href="http://www.cs.unibo.it/self-star/" target="_blank">2004</a></li>
							<li>International Workshop on Self-Adaptive Software (IWSAS): <a target="_blank" href="http://www.informatik.uni-trier.de/%7Eley/db/conf/iwsas/iwsas2000.html" target="_blank">2000</a>, <a target="_blank" href="http://www.mit.bme.hu/events/iwsas2001/" target="_blank">2001</a></li>
						</ul>
						In 2014, SASO joined forces with ICCAC, the International Conference on Cloud and Autonomic Computing (<a target="_blank" href="http://iccac2016.se.rit.edu/" target="_blank">ICCAC</a>), to provide a common forum for researches interested in the Foundations and Applications of Self* Systems (<a target="_blank" href="http://fasstar2016.informatik.uni-augsburg.de/" target="_blank">FAS*</a>).
					<p>

					<h2>Previous SASO Conferences</h2>
					<table><tbody>
                        		<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://saso2016.informatik.uni-augsburg.de/" target="_blank"><img alt="Augsburg" class="img-thumbnail" src="resources/UlrichsKirche-small.jpg" style="width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The ninth edition of SASO was held in Augsburg, Germany.<br>
							September 12-16, 2016<br>
							<a target="_blank" href="http://saso2016.informatik.uni-augsburg.de/" target="_blank">SASO 2016 Web Site</a>
						</td>
					</tr>
					<tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://saso2015.mit.edu/" target="_blank"><img alt="PHILADELPHIA" class="img-thumbnail" src="resources/saso2015.png" style="width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The ninth edition of SASO was held in Cambridge, Massachusetts.<br>
							September 21-25, 2015<br>
							<a target="_blank" href="http://saso2015.mit.edu/" target="_blank">SASO 2015 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://www.iis.ee.imperial.ac.uk/saso2014" target="_blank"><img alt="PHILADELPHIA" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/eee.png" style="width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The eighth edition of SASO was held in London, UK.<br>
							September 8-12, 2014<br>
							<a target="_blank" href="http://www.iis.ee.imperial.ac.uk/saso2014" target="_blank">SASO 2014 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://www.saso-conference.org/" target="_blank"><img alt="PHILADELPHIA" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/love.jpg" style="width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The seventh edition of SASO was held in Philadelphia (PA), USA.<br>
							September 9-13, 2013<br>
							<a target="_blank" href="https://www.cs.drexel.edu/saso2013/" target="_blank">SASO 2013 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://www.saso-conference.org/" target="_blank"><img alt="LYON" class="img-thumbnail" src="http://saso2012.univ-lyon1.fr/img/lyon01.jpg" style="height: 40px; width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The sixth edition of SASO was held in Lyon, France.<br>
							September 10-14, 2012<br>
							<a target="_blank" href="http://saso2012.univ-lyon1.fr/" target="_blank">SASO 2012 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://www.cscs.umich.edu/SASO2011/index.php" target="_blank"><img alt="ANN ARBOR" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/annarbor.jpg" style="width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The fifth edition of SASO was held in Ann Arbor, Michigan, USA<br>
							October 3-7, 2011<br>
							<a target="_blank" href="http://www.cscs.umich.edu/SASO2011/index.php" target="_blank">SASO 2011 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://www.inf.u-szeged.hu/saso10/index.php" target="_blank"><img alt="BUDAPEST" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/parlament.jpg" style="height: 45px; width: 60px;"></a></td>
						<td style="padding:5px 0;">
							The fourth edition of SASO was held in Budapest, Hungary<br>
							September 27 - October 1, 2010<br>
							<a target="_blank" href="http://www.inf.u-szeged.hu/saso10/index.php" target="_blank">SASO 2010 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://radlab.cs.berkeley.edu/saso2009/index.html" target="_blank"><img alt="SAN FRANCISCO" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/sfrancisco.jpg" style="height: 40px; width: 60px;"></a>
						</td>
						<td style="padding:5px 0;">
							The third edition of SASO was held in San Francisco (CA), USA<br>
							September 14-18, 2009<br>
							<a target="_blank" href="http://radlab.cs.berkeley.edu/saso2009/index.html" target="_blank">SASO 2009 Web Site</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<img alt="VENICE" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/sanmarco.jpg">
						</td>
						<td style="padding:5px 0;">
							The second edition of SASO was held in Isola di San Servolo (Venice), Italy<br>
							October 20-24, 2008<br>
							<!--<a target="_blank" href="http://www.agentgroup.unimo.it/saso2008/index.html" target="_blank">SASO 2008 Web Site</a>-->
						</td>
					</tr>
					<tr>
						<td style="text-align:center; padding: 10px 20px 10px 0;">
							<a target="_blank" href="http://projects.csail.mit.edu/saso2007/" target="_blank"><img alt="MIT" class="img-thumbnail" src="http://www.iis.ee.imperial.ac.uk/saso2014/img/history/mitdome.jpg"></a>
						</td>
						<td style="padding:5px 0;">
							The first edition of SASO was held at the Massachussets Institute of Technology<br>
							Cambridge (MA), USA<br>
							July 9-11, 2007<br>
							<a target="_blank" href="http://projects.csail.mit.edu/saso2007/" target="_blank">SASO 2007 Web Site</a>
						</td>
					</tr>
					</tbody></table>
				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
