<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>SASO (Preliminary) Program</h1>
					<h4> September 18-22, 2017</h4>
					<p><a href="resources/FAS-program_v3-sh.pdf">Click here</a> to download the preliminary SASO Program</p>
	<!-- 
<div id="saso-program">
	<table class="table">
		<thead>
			<th colspan="3"><h2>Monday, September 12</h2></th>
		</thead>
		<tr>
			<td colspan="1" class="time special">9:30 - 10:30</td>
			<td colspan="2" class="time special">9:00 - 17:30</td>
		</tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 1</h4>
				<ul>
					<li><a href="tutorials.html#tutorial1">Knowledge Level Models of Situations and Situation Assessment: Theory and Applications</a>, <i>Odd Erik Gundersen</i> <b>2004T</b></li>
				</ul>
			</td>
			<td rowspan="10" class="special">
				<h4>Special Track</h4>
				<a target="_blank" href="http://tsos.isse.de">Trustworthy Open Self-Organizing Systems</a> <b>1005T</b></td>
			<td rowspan="10" class="special">
				<h4>Workshop Day 1</h4>
					<ul>
						<li><a href="workshops.html#workshop3">Fourth International Workshop on Autonomic Management of high performance Grid and Cloud Computing (AMGCC'16)</a> <b>2001T</b></li>
						<li><a href="workshops.html#workshop4">Third Edition of the IEEE Workshop on Quality Assurance for  Self-adaptive, Self-organising Systems (QA4SASO)</a> <b>2002T</b></li>
						<li><a href="workshops.html#workshop5">The 2nd International Workshop on Data-driven Self-regulating Systems (DSS)</a> <b>2003T</b></li>
						<li><a href="workshops.html#workshop7">1st eCAS Workshop on Engineering Collective Adaptive Systems (eCAS)</a> <b>1003T</b></li>
					</ul>
			</td>
		</tr>
		<tr><td colspan="1" class="break">Coffee Break 10:30 - 11:00</td></tr>
		<tr><td colspan="1" class="time special">11:00 - 12:30</td></tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 1</h4>
				<ul>
					<li><a href="tutorials.html#tutorial1">Knowledge Level Models of Situations and Situation Assessment: Theory and Applications</a>, <i>Odd Erik Gundersen</i> <b>2004T</b></li>
				</ul>
			</td>
		</tr>
		<tr><td colspan="1" class="break">Lunch 12:30 - 14:00</td></tr>
		<tr><td colspan="1" class="time special">14:00 - 15:30</td></tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 1</h4>
				<ul>
					<li><a href="tutorials.html#tutorial2">Model-based Cloudification of Critical Applications</a>, <i> András Pataricza, Imre Kocsis, László Gönczy</i> <b>2004T</b></li>
				</ul>
			</td>
		</tr>
		<tr><td colspan="1" class="break">Coffee Break 15:30 - 16:00</td></tr>
		<tr><td colspan="1" class="time special">16:00 - 17:30</td></tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 1</h4>
				<ul>
					<li><a href="tutorials.html#tutorial2">Model-based Cloudification of Critical Applications</a>, <i> András Pataricza, Imre Kocsis, László Gönczy</i> <b>2004T</b></li>
				</ul>
			</td>
		</tr>
		<tr><td class="empty"></td></tr>
		<tr><td colspan="3" class="time social">17:45</td></tr>
		<tr>
			<td colspan="3" class="social">Transport to Welcome Reception &amp; Welcome Reception</td>
		</tr>
	</table>

	<table class="table">
		<thead>
			<th><h2>Tuesday, September 13</h2></th>
		</thead>
		<tr><td class="time social">9:00 - 9:30</td></tr>
		<tr>
			<td class="social"><h4>Welcome Address</h4></td>
		</tr>
		<tr><td class="time special">9:30 - 10:30</td></tr>
		<tr>
			<td class="special">
				<h4>Keynote 1</h4>
				<a href="keynotes.html#keynote1">Collective Decision Making: The Best-of-n Problem in Robot Swarms</a>, <i>  Marco Dorigo</i> <b>1001T</b>
			</td>
		</tr>
		<tr><td class="break">Coffee Break 10:30 - 11:00</td></tr>
		<tr><td class="time conference">11:00 - 12:30</td></tr>
		<tr><td class="conference">
			<h4>Session 1: Swarm robotics (1001T)</h4>

			<ul>
				<li><i>Karan Budhraja and Tim Oates.</i> Controlling Swarms by Visual Demonstration</li>

				<li><i>Fernando Silva, Luís Correia and Anders Lyhne Christensen.</i> Online Hyper-Evolution of Controllers in Multirobot Systems</li>

				<li><i>Mostafa Wahby, Daniel Nicolas Hofstadler, Mary Katherine Heinrich, Payam Zahadat and Heiko Hamann.</i> An Evolutionary Robotics Approach to the Control of Plant Growth and Motion: Modeling Plants and Crossing the Reality Gap</li>
			</ul>
		</td></tr>
		<tr><td class="break">Lunch 12:30 - 14:00</td></tr>
		<tr><td class="time conference">14:00 - 15:30</td></tr>
		<tr><td class="conference">
			<h4>Session 2: Agents and learning (1001T)</h4>

			<ul>
				<li><i>Victor Lequay, Mathieu Lefort, Saber Mansour and Salima Hassas.</i> Flexible Load Shedding using Gossip Communication in a Multi-Agents System</li>

				<li><i>Barry Porter and Roberto Rodrigues Filho.</i> Losing Control: The Case for Emergent Software Systems using Autonomous Assembly, Perception and Learning</li>

				<li><i>Guoli Yang and Vincent Danos.</i> Learning in open adaptive networks</li>
			</ul>
		</td></tr>
		<tr><td class="break">Coffee Break 15:30 - 16:00</td></tr>
		<tr><td class="time conference">16:00 - 17:30</td></tr>
		<tr><td class="conference">
			<h4>Session 3: Spatial computing (1001T)</h4>

			<ul>
				<li><i>Jacob Beal, Mirko Viroli, Danilo Pianini and Ferruccio Damiani.</i> Self-adaptation to Device Distribution Changes</li>

				<li><i>Tilman Deuschel and Ted Scully.</i> On the Importance of Spatial Perception for the Design of Adaptive User Interfaces</li>
			</ul>
		</td></tr>
	</table>

	<table class="table">
		<thead>
			<th><h2>Wednesday, September 14</h2></th>
		</thead>
		<tr><td class="time special">9:30 - 10:30</td></tr>
		<tr>
			<td class="special">
				<h4>Keynote 2</h4>
				<a href="keynotes.html#keynote2">Using Data Science and Cloud to Scale and Personalize Services</a>, <i> Manish Gupta</i> <b>1001T</b>
			</td>
		</tr>
		<tr><td class="break">Coffee Break 10:30 - 11:00</td></tr>
		<tr><td class="time conference">11:00 - 12:30</td></tr>
		<tr><td class="conference">
			<h4>Session 4: Institutions and organizations (1001T)</h4>

			<ul>
				<li><i>David Burth Kurka and Jeremy Pitt.</i> Distributed Distributive Justice</li>

				<li><i>Patricio Petruzzi, Jeremy Pitt and Dídac Busquets.</i> Inter-Institutional Social Capital for Self-Organising 'Nested Enterprises'</li>

				<li><i>Ada Diaconescu, Sylvain Frey, Christian Müller-Schloer, Jeremy Pitt and Sven Tomforde.</i> Goal-oriented Holonics for Complex System (Self-)Integration: Concepts and Case Studies</li>
			</ul>
		</td></tr>
		<tr><td class="break">Lunch 12:30 - 14:00</td></tr>
		<tr><td class="time special">14:00 - 15:30</td></tr>
		<tr><td class="special">
			<h4>Poster and Demos (1001T)</h4>
			lightning talks
		</td></tr>
		<tr><td class="break">Coffee Break 15:30 - 16:00</td></tr>
		<tr><td class="time special">16:00 - 17:30</td></tr>
		<tr><td class="special">
			<h4>Poster and Demos (Foyer)</h4>
			exhibition
		</td></tr>
		<tr><td class="empty"></td></tr>
		<tr><td class="time social">19:00</td></tr>
		<tr>
			<td class="social" >Conference Dinner</td>
		</tr>
	</table>

	<table class="table">
		<thead>
			<th colspan="2"><h2>Thursday, September 15</h2></th>
		</thead>
		<tr><td colspan="2" class="time special">9:30 - 10:30</td></tr>
		<tr>
			<td colspan="2" class="special">
				<h4>Keynote 3</h4>
				<a href="keynotes.html#keynote3">Future of Robotics – Paving the Way for a Generation ‘R’ of Robotic Natives in the Age of Digitalization</a>, <i>Dr. Rainer Bischoff</i> <b>1001T</b>
			</td>
		</tr>
		<tr><td colspan="2" class="break">Coffee Break 10:30 - 11:00</td></tr>
		<tr><td colspan="2" class="time conference">11:00 - 12:30</td></tr>
		<tr><td colspan="2" class="conference">
			<h4>Session 5: Resource management (1001T)</h4>

			<ul>
				<li><i>Emanuele Carlini, Massimo Coppola, Patrizio Dazzi, Matteo Mordacchini and Andrea Passarella.</i> Self-optimising Decentralised Service Placement in Heterogeneous Cloud Federation</li>

				<li><i>Gerrit Anders and Patrick Lehner.</i> Self-Organized Graph-Based Resource Allocation</li>

				<li><i>Ashutosh Pandey, Gabriel Moreno, Javier Cámara and David Garlan.</i> Hybrid Planning for Decision Making in Self-Adaptive Systems</li>
			</ul>
		</td></tr>
		<tr><td colspan="2" class="break">Lunch 12:30 - 14:00</td></tr>
		<tr><td colspan="2" class="time conference">14:00 - 15:30</td></tr>
		<tr>
			<td colspan="1" class="conference">
			<h4>Session 6: Short papers (1001T)</h4>

			<ul>
				<li><i>Henner Heck, Olga Kieselmann and Arno Wacker.</i> Evaluating Connection Resilience for Self-Organizing Cyber-Physical Systems</li>

				<li><i>Sona Ghahremani, Holger Giese and Thomas Vogel.</i> Towards Linking Adaptation Rules to the Utility Function for Dynamic Architectures</li>

				<li><i>Alain Tcheukam Siwe and Hamidou Tembine.</i> One Swarm per Queen: A Particle Swarm Learning for Stochastic Games</li>

				<li><i>Vikramjit Singh, Markus Esch and Ingo Scholtes.</i> Decentralized Cluster Detection in Distributed Systems based on Self-Organized Synchronization</li>

				<li><i>Abdessalam Elhabbash, Rami Bahsoon and Peter Tino.</i> Interaction-awareness for self-adaptive volunteer computing</li>

				<li><i>Matthias Sommer, Anthony Stein and Joerg Haehner.</i> Ensemble Time Series Forecasting with XCSF</li>
			</ul>
			</td>
			<td colspan="1" class="special">
				<h4>Doctoral Symposium (1005T)</h4>
        <ul>
          <li><i>Invited Talk by Jake Beal.</i> Surviving Life as a Researcher</li>
          <li><i>Panel Discussion on:</i> Planning your PhD and Scientific Career</li>
        </ul>
		</td>
		</tr>
		<tr><td colspan="2" class="break">Coffee Break 15:30 - 16:00</td></tr>
		<tr><td colspan="2" class="time special">16:00 - 17:30</td></tr>
		<tr><td colspan="1" class="special">
			<h4>Doctoral Symposium (1005T)</h4>
        <ul>
          <li><i>Christopher-Eyk Hrabia.</i>A Framework for Adaptive and Goal-Driven Behaviour Control of Multi-Robot Systems</li>
          <li><i>Anthony Stein.</i> Evolutionary Online Machine Learning from Imbalanced Data</li>
          <li><i>John Kalantari.</i> Unsupervised In-Silico Modeling of Complex Biological Systems</li>
          <li><i>Kamaleddin Yaghoobirafi and Eslam Nazemi.</i> A Self-Adaptive Middleware for Attaining Semantic Self-Interoperation Property</li>
        </ul>
        </td>
        <td colspan="1" class="special">
			<h4>Panel Discussion (1001T)</h4>
        <ul>
          <a href="paneldiscussion.html"><li><i>Jeremy Pitt, Ada Diaconescu, Peter Lewis, and Jan-Philipp Steghöfer.</i> Panel Discussion on Self-Organisation and Distributed Consensus Technologies: Opportunities, Challenges and Boundaries</li></a>
        </ul>

		</td></tr>
		<tr><td colspan="2" class="time conference">17:30</td></tr>
		<tr><td colspan="2" class="conference">
			<h4>Closing Session (1001T)</h4>
		</td></tr>
	</table>

	<table class="table">
		<thead>
			<th colspan="3"><h2>Friday, September 16</h2></th>
		</thead>
		<tr>
			<td colspan="1" class="time special">9:30 - 10:30</td>
      <td colspan="1" class="time special">9:30 - 12:30</td>
			<td colspan="1" class="time special">9:00 - 17:30</td>
		</tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 2</h4>
				<ul>
					<li><a href="tutorials.html#tutorial3">Context for adaptive Information Fusion</a>, <i> Lauro Snidaro</i></li> <b>2004T</b>
				</ul>
			</td>
      <td rowspan="4" class="special">
        <h4>Special Track</h4>
          <a target="_blank" href="http://robdream.eu/saso">DREAMing – Optimization and Learning of Robotic Tasks in Simulation</a> <i>supported by KUKA</i> <b>2001T</b>
      </td>
			<td rowspan="10" class="special">
				<h4>Workshop Day 2</h4>
				<ul>
					<li><a href="workshops.html#workshop1">Ninth International Workshop on Dynamic Software Product Lines. Variability at Runtime (DSPL)</a></li> <b>2003T</b>
					<li><a href="workshops.html#workshop2">Fourth International Workshop on Self-Adaptive and Self-Organising Socio-Technical Systems (SASO^ST)</a></li> <b>1003T</b>
					<li><a href="workshops.html#workshop6">1st International Workshop on Self-Organising Construction (SOCO)</a></li> <b>1005T</b>
					<li><a href="workshops.html#workshop8">The First International joint Workshops on Fog and Mobile Edge Computing, and on Information Security and Privacy for Mobile Cloud Computing, Web and Internet of Things (FMEC/ISCW-2016) </a></li> <b>2002T</b>
				</ul>
			</td>
		</tr>
		<tr><td colspan="1" class="break">Coffee Break 10:30 - 11:00</td></tr>
		<tr><td colspan="1" class="time special">11:00 - 12:30</td></tr>
		<tr>
			<td class="special">
				<h4>Tutorial Day 2</h4>
				<ul>
					<li><a href="tutorials.html#tutorial3">Context for adaptive Information Fusion</a>, <i> Lauro Snidaro</i></li> <b>2004T</b>
				</ul>
			</td>
		</tr>
		<tr><td colspan="2" class="break">Lunch 12:30 - 14:00</td></tr>
		<tr><td colspan="2" class="time special">14:00 - 15:30</td></tr>
		<tr>
			<td colspan="2" class="special">
				<h4>Tutorial Day 2</h4>
				<ul>
					<li><a href="tutorials.html#tutorial4">Solving Soft Constraint Problems in Autonomic Systems with MiniBrass</a>, <i>Alexander Schiendorfer</i></li> <b>2004T</b>
				</ul>
			</td>
		</tr>
		<tr><td colspan="2" class="break">Coffee Break 15:30 - 16:00</td></tr>
		<tr><td colspan="2" class="time special">16:00 - 17:30</td></tr>
		<tr>
			<td colspan="2" class="special">
				<h4>Tutorial Day 2</h4>
				<ul>
					<li><a href="tutorials.html#tutorial4">Solving Soft Constraint Problems in Autonomic Systems with MiniBrass</a>, <i>Alexander Schiendorfer</i></li> <b>2004T</b>
				</ul>
			</td>
		</tr>
	</table>
</div>
-->

</div>

				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script type="text/javascript">
			$("#steering-collapse").collapse("show");
			$("#technical-collapse").collapse("show");
			$("#program-collapse").collapse("show");
		</script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
