<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
  <body>
#include "head.header.html"

#include "navbar.include.html"

    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">

<h1>Help Promote SASO 2017</h1>
		<h2>SASO 2017 Posters</h2>
        <h3>A3</h3>
<p><a href="resources/saso-2017-poster-a3.pdf"><img class="alignnone" src="resources/saso-thumb.png" alt="CFP-Poster"  /></a></p>
 <h3>A4</h3>
<p><a href="resources/saso-2017-poster-a4.pdf">Get the SASO poster in A4</a></p>
<h2>SASO 2017 Banners &amp; Buttons</h2>
<h3>Square</h3>
<!-- <p><img class=" alignnone" src="resources/saso_banner_square4.png" alt="SASO Square Logo" /></p>
<pre>&lt;a href="https://saso2017.telecom-paristech.fr/"&gt;
&lt;img src="https://saso2017.telecom-paristech.fr/resources/saso_banner_square4.png" alt="SASO 2017" border="0" /&gt;
&lt;/a&gt;
</pre>
-->

<p><img width="200" height="200" class=" alignnone" src="resources/saso_banner_square3.png" alt="SASO Square Logo" /></p>
<pre>&lt;a href="https://saso2017.telecom-paristech.fr/"&gt;
&lt;img width="200" height="200" src="https://saso2017.telecom-paristech.fr/resources/saso_banner_square3.png" alt="SASO 2017" border="0" /&gt;
&lt;/a&gt;
</pre>


<h3>Landscape</h3>
<!-- <p><img class=" alignnone" src="resources/saso_banner_landscape1.png" alt="SASO Square Logo" /></p>
<pre>&lt;a href="https://saso2017.telecom-paristech.fr/"&gt;
&lt;img src="https://saso2017.telecom-paristech.fr/resources/saso_banner_landscape1.png" alt="SASO 2017" border="0" /&gt;
&lt;/a&gt;
</pre>
-->
<h4>Size: 424px × 100px</h4>
<p><img class=" alignnone" width="424" height="100" src="resources/saso_banner_landscape1.png" alt="SASO Landscape Logo" /></p>
<pre>&lt;a href="https://saso2017.telecom-paristech.fr/"&gt;
&lt;img src="https://saso2017.telecom-paristech.fr/resources/saso_banner_landscape1.png" width="424" height="100" alt="SASO 2017" border="0" /&gt;
&lt;/a&gt;
</pre>

<h4>Size: 800px × 189px</h4>
<p><img class=" alignnone" width="800" height="189" src="resources/saso_banner_landscape1.png" alt="SASO Landscape Logo" /></p>
<pre>&lt;a href="https://saso2017.telecom-paristech.fr/"&gt;
&lt;img src="https://saso2017.telecom-paristech.fr/resources/saso_banner_landscape1.png" width="800" height="189" alt="SASO 2017" border="0" /&gt;
&lt;/a&gt;
</pre>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
        </div>
      </div>
    </div>

#include "footer.include.html"

    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/ie10-viewport-bug-workaround.js"></script>
    <script src="libs/twitter_embed.js"></script>
  </body>
</html>
