<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
  <body>
#include "head.header.html"

#include "navbar.include.html"

    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">

<h1>Promote SASO</h1>
<p>
<a href ="resources/SASO2017_sponsorship.pdf"><img src="resources/pdficon.png"></img> Download as PDF</a>
</p>
<p>


        </div>
        <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
        </div>
      </div>
    </div>

#include "footer.include.html"

    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/ie10-viewport-bug-workaround.js"></script>
    <script src="libs/twitter_embed.js"></script>
  </body>
</html>
