<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Registration</h1>

<h2><a target="_blank" href="http://regonline.com/fas-star-2017">
	To register for SASO, ICCAC, or FAS*W click here
</a></h2>

<p>
For any questions and concerns, please contact FAS* registration chair Cihan Tunc: cihantunc (at) email.arizona.edu
</p>

<!--
<p>
Conference fees are given in the table below. All fees are in Euro (EUR). The early registration prices end on <b>August 19, 2016 (23:59 UTC/GMT+2H)</b>.
</p>
-->
<p>The early registration prices end on <b>August 6, 2017</b></p>
<p>Presenting authors should register by <b>July 28, 2017</b> to ensure inclusion in the IEEE proceedings.</p>
<p>
<table class="registration">
	<tr>
		<td class="empty"></td>
		<th>IEEE member</th>
		<th>Non-member</th>
		<th>Student IEEE member</th>
		<th>Student non-member</th>
	</tr>
	<tr>
		<th>Attendees</th>
		<td>$500</td>
		<td>$600</td>
		<td>$325</td>
		<td>$400</td>
	</tr>
	<tr>
		<th>Presenting Authors</th>
		<td>$500</td>
		<td>$600</td>
		<td>$500</td>
		<td>$600</td>
	</tr>
</table>
</p>
<p>
At least one author of each accepted paper (conference paper, workshop paper, poster paper, demo paper, tutorial paper, and doctoral symposium paper) must be registered for paper inclusion in the proceedings. A single registration is ok for multiple papers by the same author.
</p>
<h2>Notes</h2>
<ol>
<li>Please note that if you are registering to present your paper, you need to use 'Presenting Authors'.</li>
<li>For each paper to be published, at least one author needs to register through 'Presenting Authors'.</li>
<li>The registrations before August 6, 2017 have an early registration discount. The fees will increase after this as a late fee.</li>
<li>All the authors need to register before the deadline of camera ready submission to have their papers published.</li>
<li>The registrations are with credit card only. For the wire transfers, please contact us for the requirements.</li>
<li>For on-site registrations, the cost will be extra 100 USD.</li>
</ol>


<!--
<p>
The registration fees include:
<ul>
	<li>Admission to conference and workshops</li>
	<li>Proceedings</li>
	<li>All coffee breaks</li>
	<li>Welcome reception (Monday)</li>
	<li>Conference dinner/social event (Wednesday)</li>
</ul>
</p>
-->

 

<h2>Visa Application Letters</h2>

<p>We will gladly send letters supporting a visa application to registered participants.</p>

<p>
To request such a letter please use the following <a href="http://autonomic-conference.org/iccac-2017/contact/visa.php">online form</a>.

Note that fully-paid registration is required before issuing a support letter.

For further information please contact the FAS* 2017 Registration Chair -- Cihan Tunc: cihantunc (at) email.arizona.edu   (and Cc the SASO 2017 General Chair -- Ada Diaconescu: ada.diaconescu (at) telecom-paristech.fr) 
</p>
<!--
<p>Registration and full registration payment required.</p>

<p>
	<ul>
		<li>Surname</li>
		<li>Given name</li>
		<li>Company</li>
		<li>Date of birth</li>
		<li>Passport No.</li>
		<li>Date of issue</li>
		<li>Date of expiry</li>
		<li>Place of issue</li>
		<li>Postal address / address for dispatch for VISA Application Letter</li>
		<li>Phone number</li>
		<li>Email address</li>
	</ul>
</p>

-->
				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
