<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
		<header id="saso-banner">
			<div class="container">
				<table cellspacing="0" cellpadding="0"><tr>
				<td>
					<img src="resources/logo-header.png" id="saso-banner-logo" class="hidden-xs" alt="SASO" />
				</td>
				<td>
					<div id="saso-banner-title">SASO 2016</div>
					<div id="saso-banner-subtitle">10th IEEE International Conference on Self-Adaptive<br class="hidden-xs hidden-sm hidden-lg" /> and Self-Organizing Systems</div>
					<div id="saso-banner-location">University of Augsburg, Augsburg, Germany &middot; 12-16 September 2016</div>
				</td>
				</tr></table>
				<img src="resources/skyline.png" id="saso-banner-skyline" class="hidden-xs hidden-sm" />
			</div>
		</header>

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Registration</h1>

<h2><a target="_blank" href="https://online-registration.vde.com/iebms/reg/reg_p1_form.aspx?oc=10&ct=ENG&eventid=9552">
	To register for SASO, ICCAC, or FAS*W click here
</a></h2>

<p>
In case of problems with the registration system, please contact <a href="mailto:Arndt.Zimmermann@vde.com">Arndt Zimmermann</a>.
For any general inquiries contact <a href="mailto:saso2016@isse.de">saso2016@isse.de</a>.
</p>

<p>
Conference fees are given in the table below. All fees are in Euro (EUR). The early registration prices end on <b>August 19, 2016 (23:59 UTC/GMT+2H)</b>.
</p>

<p>
At least one author of each accepted paper (conference paper, workshop paper, poster paper, demo paper, tutorial paper, and doctoral symposium paper) must be registered for paper inclusion in the proceedings. A single registration is ok for multiple papers by the same author.
</p>

<p>
<table class="registration">
	<tr>
		<td class="empty"></td>
		<th>IEEE/VDE member</th>
		<th>Non-member</th>
		<th>Student IEEE/VDE member</th>
		<th>Student non-member</th>
	</tr>
	<tr>
		<th>Early Bird (until August 19)</th>
		<td>490 €</td>
		<td>590 €</td>
		<td>305 €</td>
		<td>370 €</td>
	</tr>
	<tr>
		<th>Late Registration</th>
		<td>590 €</td>
		<td>710 €</td>
		<td>450 €</td>
		<td>540 €</td>
	</tr>
</table>
</p>

<p>
The registration fees include:
<ul>
	<li>Admission to conference and workshops</li>
	<li>Proceedings</li>
	<li>All coffee breaks</li>
	<li>Welcome reception (Monday)</li>
	<li>Conference dinner/social event (Wednesday)</li>
</ul>
</p>

<p>
On the <a href="venue.html#accomodations_heading">venue page</a> we provide a list of hotels with a special rate to SASO 2016 attendees. We encourage you to book your room as soon as possible to secure the special rates.
</p>

<h2>Visa Application Letters</h2>

<p>We will gladly send letters supporting a visa application to registered participants.</p>

<p>To request such a letter please send an e-mail to <a href="mailto:vde-conferences@vde.com">vde-conferences@vde.com</a> with the subject “SASO - Visa Application Letter” containing the following information.
Note that, depending on the current number of requests, issuing a visa application letter can take up to one week.
</p>

<p>Registration and full registration payment required.</p>

<p>
	<ul>
		<li>Surname</li>
		<li>Given name</li>
		<li>Company</li>
		<li>Date of birth</li>
		<li>Passport No.</li>
		<li>Date of issue</li>
		<li>Date of expiry</li>
		<li>Place of issue</li>
		<li>Postal address / address for dispatch for VISA Application Letter</li>
		<li>Phone number</li>
		<li>Email address</li>
	</ul>
</p>

				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
