<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
  <body>
#include "head.header.html"

#include "navbar.include.html"

    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">

<h1>Sponsoring</h1>
<p>
<a href ="resources/SASO2017_sponsorship.pdf"><img src="resources/pdficon.png"></img> Download as PDF</a>
</p>
<p>
IEEE SASO sponsorship opportunities are available for your company! The 2017 edition of the SASO conference
series will be held at the University of Arizona, Tucson, AZ in the week of September 18-22, 2017. SASO is part of
FAS*, a common umbrella for two closely related but independent conferences (SASO and ICCAC) with shared
events including workshops, tutorials, doctoral symposia, etc.
</p>

<p>
All levels of sponsorship will enable corporations to be visible at a prestigious meeting expecting approximately 200
international experts from research and industry in these areas of computer science:
</p>
<ul>
	<li> Systems theory: nature-inspired and socially-inspired paradigms and heuristics; inter-operation of 
self-* mechanisms; theoretical frameworks and models; control theory;</li>
	<li> System properties: robustness; resilience; stability; anti-fragility; diversity; self-reference and reflection; emergent behavior; computational awareness and self-awareness; </li>
	<li> Systems engineering: reusable mechanisms and algorithms; design patterns; architectures; methodologies; software and middleware development frameworks and methods; platforms and toolkits; multi-agent systems;
	<li> Theory and practice of organization: self-governance, change management, electronic institutions, distributed consensus, commons, knowledge management, and the general use of rules, policies, etc. in self-* systems</li>
	<li> Theory and practice of adaptation: mechanisms for adaptation, including evolution, logic, learning; adaptability, plasticity, flexibility</li>
    <li> Socio-technical systems: human and social factors; visualization; crowdsourcing and collective awareness; humans-in-the-loop; ethics and humanities in self-* systems;</li>
	<li> Data-driven approaches: data mining; machine learning; data science and other statistical techniques to analyze, understand, and manage behavior of complex systems;</li>
	<li> Self-adaptive and self-organizing hardware: self-* materials; self-construction; reconfigurable hardware;</li>
    <li> Education: experience reports; curricula; innovative course concepts; methodological aspects of self-* systems education;</li>
	<li> Applications and experiences with self-* systems in any of the following domains are of particular interest:
		<ul>
			<li>Smart systems: smart grids, smart cities, smart environments, smart homes, etc.</li>
			<li>Industrial automation: embedded self-* systems, adaptive industrial plants, Industry 4.0, cyber physical systems</li>
			<li>Transportation: autonomous vehicles, traffic optimization</li>
			<li>Autonomous systems: aerial vehicles, undersea vehicles, autonomous robotics</li>
			<li>Internet of Things: self-* for network management, self-* applied to cyber security</li>
		</ul>
	</li>
</ul>


<h2>Sponsorship levels and benefits</h2>
<table class="sponsors">
<tr>
<th></th><th>Bronze<br/>$1,000</th><th>Silver<br/>$2,000</th><th>Gold<br/>$4,000</th><th>Platinum<br/>$8,000</th><th>Titanium<br/>$16,000</th>
</tr>
<tr>
<td class="items">Logo on SASO website</td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td>
</tr>
<tr>
<td class="items">Logo on printed materials</td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td>
</tr>
<tr>
<td class="items">Ad pages in printed program</td><td>&#xbd;</td><td>1</td><td>1</td><td>2</td><td>2</td>
</tr>
<tr>
<td class="items">Included registrations</td><td></td><td>1</td><td>2</td><td>4</td><td>6</td>
</tr>
<tr>
<td class="items">Exhibition table or poster</td><td></td><td></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td>
</tr>
<tr>
<td class="items">Product demonstration space</td><td></td><td></td><td></td><td><span class="checkmark">&#x2714;</span></td><td><span class="checkmark">&#x2714;</span></td>
</tr>
<tr>
<td class="items">Named student travel grants</td><td></td><td></td><td></td><td></td><td><span class="checkmark">&#x2714;</span></td>
</tr>
</table>

<h2>Contact Information</h2>

<p>
For	more information about SASO and to discuss sponsoring SASO 2017, please email the SASO 2017 Industry Chair, Jacob Beal at <a href="mailto:jake.beal@raytheon.com">jake.beal@raytheon.com</a>.	
  	
</p>

        </div>
        <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
        </div>
      </div>
    </div>

#include "footer.include.html"

    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/ie10-viewport-bug-workaround.js"></script>
    <script src="libs/twitter_embed.js"></script>
  </body>
</html>
