<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
		<header id="saso-banner">
			<div class="container">
				<table cellspacing="0" cellpadding="0"><tr>
				<td>
					<img src="resources/logo-header.png" id="saso-banner-logo" class="hidden-xs" alt="SASO" />
				</td>
				<td>
					<div id="saso-banner-title">SASO 2016</div>
					<div id="saso-banner-subtitle">10th IEEE International Conference on Self-Adaptive<br class="hidden-xs hidden-sm hidden-lg" /> and Self-Organizing Systems</div>
					<div id="saso-banner-location">University of Augsburg, Augsburg, Germany &middot; 12-16 September 2016</div>
				</td>
				</tr></table>
				<img src="resources/skyline.png" id="saso-banner-skyline" class="hidden-xs hidden-sm" />
			</div>
		</header>

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Submission</h1>
					<p>Please submit papers via the EasyChair conference management system.</p>
					<p>The URL for the EasyChair SASO2016 site is: <a target="_blank" href="https://easychair.org/conferences/?conf=saso2016">https://easychair.org/conferences/?conf=saso2016</a></p>
				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
