<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Venue</h1>
<img src="resources/montage.png"/>
<p>
The ICCAC and SASO conferences and the workshops will be held at The University of Arizona. For the hotel, we have a special agreement -- the Homewood Suites by Hilton® Tucson/St. Philip's Plaza, Tucson, AZ. Homewood Suites by Hilton is pleased to provide their award-winning hospitality and the following standard amenities:</p>

</p>
<ul>
<li>Spacious one-bedroom suites with fully equipped kitchens</li>
<li>Complimentary Hot Breakfast Buffet daily and Social Reception featuring appetizers and beverages Monday-
Wednesday evenings</li>
<li>Complimentary Shuttle to and from the UA Campus via our 9-Passenger Van</li>
<li>Complimentary WiFi in-Suite and throughout the Hotel</li>
<li>Complimentary Parking</li>
<li>Hilton Honors where guests earn both Points &amp; Miles<sup>®</sup></li>
</ul>

<h2>Sleeping Rooms – Run of House</h2>
<img src="resources/stacks-image-3d73c66.png"/>

<sup>**</sup> Homewood Suites by Hilton<sup>®</sup> is pleased to extend the above rate three days prior to arrival and three days after departure for any of your attendees that may wish to extend their visit to Tucson. Hotel room rates are subject to all applicable state and local taxes.</p>

<p><b>Group code:</b> <span style="font-family:courier;">CAC</span></p>

<p>Group rate will be based upon availability after August 17, 2017 and guests will not be guaranteed to receive group rate if calling after this date.</p>

<p><b>Guestroom Cancellation Policy:</b> To avoid a cancellation fee; guests must call Hotel directly at (520) 577-0007 at least 24 hours prior to their check-in time (12 noon on day prior) to cancel their guestroom arrangements.</p>

<p><b>Additional person(s) Charge:</b> Should more than two (2) adults occupy a guestroom (any person 17 years of age or over), there will be an additional $20.00 per night, per person charge applied to the guestroom rate ; subject to all applicable taxes .</p>

<p><b>Pet Deposit:</b> Should guests desire to bring their pets, there is a one time, non-refundable $75.00 deposit required.</p>

<h4 id="othernearbyhotelssupsupare:">Other nearby hotels<sup>+</sup> are:</h4>

<ul>
<li><a href="http://www.tucsonuniversityhotel.com/">http://www.tucsonuniversityhotel.com/</a></li>
<li><a href="http://www.alofttucsonuniversity.com/">http://www.alofttucsonuniversity.com/</a></li>
</ul>

<p><font size="-2"><sup>+</sup> Above terms and rates don't apply.</font></p>

<h4 id="nearbyattractions:">Nearby attractions:</h4>

<ul>
<li><a href="http://oldtucson.com/videos/">Old Tucson Studios</a></li>
<li><a href="http://www.desertmuseum.org/">Arizona-Sonora Desert Museum</a></li>
<li><a href="http://www.pimaair.org/">Pima Air &amp; Space Museum</a></li>
<li><a href="http://www.sabinocanyon.com/">Sabino Canyon</a></li>
</ul>
				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
