<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
		<header id="saso-banner">
			<div class="container">
				<table cellspacing="0" cellpadding="0"><tr>
				<td>
					<img src="resources/logo-header.png" id="saso-banner-logo" class="hidden-xs" alt="SASO" />
				</td>
				<td>
					<div id="saso-banner-title">SASO 2016</div>
					<div id="saso-banner-subtitle">10th IEEE International Conference on Self-Adaptive<br class="hidden-xs hidden-sm hidden-lg" /> and Self-Organizing Systems</div>
					<div id="saso-banner-location">University of Augsburg, Augsburg, Germany &middot; 12-16 September 2016</div>
				</td>
				</tr></table>
				<img src="resources/skyline.png" id="saso-banner-skyline" class="hidden-xs hidden-sm" />
			</div>
		</header>

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

					<h1>Venue</h1>

<h3>Conference Companion</h3>
<p>For your convenience, we have posted a FAS* Conference Companion as a pdf file on the conference web site. The Conference Companion includes all relevant practical information about the conference including conference program, conference venue, important addresses, a map for the conference dinner, etc. You will receive a printed version at the registration desk as part of the conference bag.<br>
<br>
Click <a href="resources/companiondocument.pdf">here</a> to download the conference companion.</p>
<br>
<div class="saso-image" >
	<img src="resources/maximilianstrasse.jpg" alt="Maximilianstraße, Augsburg"></img>
	<p style="text-align: center;">Maximilianstraße with Herkules Fountain<br> and the Augsburger Rathaus in the background<br>(by Regio Augsburg Tourismus GmbH)</p>
</div>

<div class="saso-image" >
	<img src="resources/kurhaus.jpg" alt="Kurhaus, Augsburg"></img>
	<p style="text-align: center;">The Kurhaus (by Xanderhof)</p>
</div>

<div class="saso-image" >
	<img src="resources/hochablass.jpg" alt="Hochablass, Augsburg"></img>
	<p style="text-align: center;">Hochablass (by Felix Hartmann)</p>
</div>

<p>
„Wer in München gut essen will, muss nach Augsburg fahren“ (saying)
("If you want to enjoy a good meal in Munich, you have to travel to Augsburg”)
</p>

<p>
However, it’s not only the Bavarian-Swabian cuisine you will get to know during your stay in one of Germany’s oldest cities: founded over 2,000 years ago, Augsburg displays a cultural heritage ranging from the Roman Empire to the industrialisation.
</p>

<p>
City of the Renaissance: Augsburg’s long and splendid history is largely reflected in its imposing cityscape. Due to the rising prosperity in the 16th century, the historic townscape of Augsburg comprises a number of impressive Renaissance buildings, which can be admired walking along Maximilianstraße, Augsburg’s famous boulevard. Two particularly magnificent buildings are the Augsburger Rathaus (Town Hall of Augsburg), one of the most considerable secular Renaissance buildings in Central Europe, and the Kurhaus, a multifunctional theatre built in the style of late 19th-century Historicism.
</p>

<p>
City of Water: Augsburg’s economic advancement in the 16th century is essentially due to its water resource management, which benefits from the city being situated on three rivers: the Lech, the Wertach and the Singold. Therefore, the numerous channels and fountains as well as the waterworks at the Rotes Tor and the Hochablass are counted among the most important landmarks of the city. Moreover, with exactly 500 bridge structures, there are more bridges in Augsburg than in Venice.
</p>

<p>
City of Peace: On the 25 September 1555, Augsburg was the site of the first imperial treaty in the Holy Roman Empire stipulating the terms of a peaceful coexistence of Lutheranism and Catholicism. Until today, the Peace of Augsburg shapes the self-image of the city and its inhabitants, who are granted an extra bank holiday on the 8th of August to commemorate religious peace.
</p>

<p>
City of Industry 4.0: Due to its advantageous location, the city of Augsburg has always been an important seat of industry throughout its history. While, in the 19th century, Augsburg was primarily known for its textile industry, today, the economic landscape of the city is dominated by international, large-scale enterprises focusing on electrical and mechanical engineering. These include, amongst others, Siemens AG, concentrating on the areas of electrification, automation and digitalisation, and KUKA, specialised on robotics, automation and systems engineering.
</p>

<h2 style="clear: right;">Lunch Break</h2>
<p>There is a whole bunch of possibilities for lunch next to the Hörsaalzentrum Physik. The easiest way is to have lunch at the university‘ s dining hall. There you can pay cash at designated terminals. There are direction signs to the dining hall in front of the Physik Hörsaalzentrum; it is only a 2 minutes walk. In addition, there are several restaurants (American, Asian, Italien food), a supermarket, and a bakery if you leave the Hörsaalzentrum and turn to the right on the Universitätsstraße.</p>


					<h2 style="clear: right;">Directions</h2>

						<div class="saso-image" >
							<img src="resources/Karte_Uni_Rathaus-1.JPG" alt="Map to the Welcome Reception"></img>
							<p style="text-align: center;">Map to the Welcome Reception</p>
						</div>

						<h3>Universität Augsburg</h3>
						<p>
							<Directions to <i>Universität Augsburg</i> can be found here: <a href="https://www.uni-augsburg.de/en/about/travel/">Getting to the University of Augsburg</a>.
						</p>

						<h3>Welcome Reception on Monday</h3>
						<p>
							Directions from the University of Augsburg to the Town Hall/Welcome Reception (in case you can’t catch the tram together with the other participants): Take tram line 3 (direction Stadtbergen) from University to Königsplatz. At Königsplatz, change to tram line 2 (direction Augsburg West P+R) and get off at Rathausplatz.
						</p>


					<a class="anchor" id="accomodations_heading"></a>
					<h2>Accommodations</h2>
						We have reserved contingents at the following hotels:
						<ul>
							<li>
								available until 11.06.2016:<br/> 20 rooms reserved in <i>Steigenberger Drei Mohren</i> (11.9.-15.9) (154.00 &euro; Standard, 174.00 &euro; Superior) including breakfast,
								at <a href="mailto:reservations@augsburg.steigenberger.de">reservations@augsburg.steigenberger.de</a>
							</li>
							<li>
								available until 31.07.2016 <em>(extended)</em>:<br/> 50 rooms reserved in <i>B&amp;B Hotel</i> (11.9.-17.9.) 63,50 &euro; including breakfast,
								at <a href="mailto:augsburg@hotelbb.com">augsburg@hotelbb.com</a>
							</li>
							<li>
								available until 31.07.2016:<br/> 80 rooms reserved in <i>Hotel Augusta</i> (11.9. - 17.9.) 99,00 &euro; including breakfast,
								at <a href="mailto:reception@hotelaugusta.de">reception@hotelaugusta.de</a>
							</li>
							<li>
								available until 31.07.2016:<br/> 20 rooms reserved in <i>Cityhotel Ost am Kö</i> (11.9. - 17-9.) 89,00 &euro; including breakfast,
								at <a href="mailto:cityhotel@ostamkoe.de">cityhotel@ostamkoe.de</a>
							</li>
							<li>
								available until 12.08.2016:<br/> 15 rooms reserved in <i>Hotel am Park / alten Stadtpark</i> (11.9.-16.9.) 76,00 &euro;
								including breakfast, at <a href="mailto:willkommen@hotel-am-alten-park.de">willkommen@hotel-am-alten-park.de</a>
							</li>							
							<li>
								available until 14.08.2016:<br/> 40 rooms reserved in <i>IBIS Hotel Hbf</i> (11.9. - 17.9.) 69,00 &euro; including breakfast,
								at <a href="mailto:h1438@accor.com">h1438@accor.com</a>
							</li>

						</ul>

						Please make your bookings via email and refer to <i>SASO 2016</i>.


					<h2 style="clear: both;">Map</h2>
					<p>
						The conference will take place at <a href="https://www.uni-augsburg.de/en/about/travel/"><i>Universität Augsburg</i></a> in the <i>Physik-Hörsaalzentrum</i>.
					</p>

						<iframe src="https://www.google.com/maps/d/embed?mid=zDE4SNtnoPaM.k3272H2bFbAs" width="640" height="480"></iframe>

						<h2>Conference Dinner - Bavarian Night</h2>
						Directions from the University of Augsburg to the Kurhaus Göggingen/Conference Dinner:
						<ul>
							<li>
								Take tram line 3 (direction Stadtbergen) from University to Königsplatz.
							</li>
							<li>
								At Königsplatz, change to tram line 1 (direction Göggingen) and get off at Rathaus Göggingen.
							</li>
							<li>
								Walk to the Kurhaus Göggingen as shown in the Google Maps extract next.
							</li>
						</ul>

						<div>
							<img class="img-responsive" src="resources/DirectionDinner.png" alt="Map to the Conference Dinner"></img>
							<p style="text-align: center;">Map to the Conference Dinner</p>
						</div>
						<div>
							<img class="img-responsive" src="resources/DirectionRathausToKurhaus.png" alt="Map to the Kurhaus"></img>
							<p style="text-align: center;">Map to the Kurhaus</p>
						</div>
				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
