<!DOCTYPE html>
<html lang="en">
#include "head.include.html"
	<body>
#include "head.header.html"

#include "navbar.include.html"

		<div class="container">
			<div class="row">
				<div class="col-md-9" role="main">

<h1>Accepted Workshops and Calls for Contributions</h1>

<h2><a href="http://sasost.socioaware.net/">Fifth International Workshop on Self-Adaptive and Self-Organising Socio-Technical Systems (SASOST 2017)</a></h2>

<p>The design and operation of computer systems has traditionally been driven by technical aspects and considerations. However, the usage characteristics of information and communication systems are both implicitly and explicitly determined by social interaction and the social graph of users. This aspect is becoming more and more evident with the increasing popularity of social network applications on the internet.
	This workshop will address all social aspects that influence the design of technical systems, covering different perspectives of this exciting research area from the computational modelling of social systems to socio-inspired design strategies for distributed algorithms, collaboration platforms and communication protocols.</p>

<h3>Topics</h3>

<p>SASO<sup><small>ST</small></sup> systems require a highly interdisciplinary approach, and the establishment of a research community around the creation of such systems is one of the workshop's key objectives. For this purpose, the workshop brings together experts from areas such as distributed computer systems, complex systems, and the social sciences to present findings and elaborate on the topic in the following complementary topical sections as well as open panel discussion rounds. Relevant topics include but are not limited to:</p>


<ul>
    <li>Computational modelling of social systems</li>
    <ul>
        <li>Trust, norms and reputation management</li>
        <li>Computational social science techniques</li>
        <li>Information spreading, opinion formation and collective user behaviour</li>
        <li>Representation of and reasoning about computational laws</li>
        <li>Effects of trust models and metrics on self-organising autonomous systems</li>
        <li>Analysis of threats to self-organising and autonomous systems</li>
        <li>Social aspects in software engineering</li>
    </ul>
    <li>Applications of social aspects in technical systems</li>
        <li>Socio-aware overlays and adaptation of network protocols and topologies</li>
        <li>Simulation and evaluation of interactive networked computing systems with socio-aware behavioural models</li>
        <li>Trust-based approaches to deal with uncertainty in self-organising systems</li>
        <li>Self-organising norm-governed systems</li>
        <li>Socially adaptive, scalable content distribution</li>
        <li>Real-time monitoring and prediction of collective user dynamics</li>
        <li>Smart grids and cyber-physical systems</li>
        <li>Utilisation of social structures for the scalable provision of distributed virtual environments and in application-level routing schemes for peer-to-peer, wireless ad-hoc or delay tolerant networks</li>
        <li>Socially inspired algorithms and network topologies for distributed search, consensus, gossiping etc.</li>
</ul>

<h3>Submission and Publication</h3>

<p>The organisers welcome the submission of short papers not exceeding 6 two-column pages in the IEEE Computer Society Press proceedings style. We solicit both original research papers as well as position papers. The submissions need to be previously unpublished and currently not under review elsewhere. Accepted papers will be published as a bundle with the main conference proceedings by IEEE Computer Society Press and will be submitted to the indexing companies.</p>

<p>Furthermore, we encourage the submission of proposals for talks that present previously published work of special interest to the workshop community. Position statements encouraging discussions on the workshop's topics are also welcome. These proposals should also adhere to the two-column IEEE Computer Society Press proceedings style, not exceeding two pages. The workshop provides an excellent opportunity to discuss and share research results with a wider audience in an interdisciplinary environment.</p>

<p>Each submission will be peer-reviewed by two to three members of the programme committee in a single-blind process. The decision will be based on the motivation of the research, the clarity of the contribution and the relevance of the research to the domain of self-adaptive and self-organising socio-technical systems. In particular, submissions that promise to fuel discussions, which bring together results and issues from different disciplines and which thus contribute to the strengthening of an interdisciplinary community, will be given preference.</p>


<h3>Important Dates</h3>

<table class="dates-table">
	<tr><td>Submission deadline</td> <td class="date">July 7, 2017<!-- <del>  June 17, 2016 </del>--></td></tr>
	<tr><td>Acceptance Notification</td> <td class="date">July 21, 2017</td></tr>
	<tr><td>Camera-ready copy due</td> <td class="date">July 26, 2017</td></tr>
</table>


<h3>Organisation</h3>

<p>Jean Botev, University of Luxembourg, Luxembourg<br/>
Markus Esch, htw saar, Germany<br/>
Ingo Scholtes, ETH Z&uuml;rich, Switzerland</p>

<h2>Third IEEE Workshop on Quality Assurance for Self-adaptive, Self-organising Systems (QA4SASO 2017)</h2>

<h2><a href="http://apice.unibo.it/xwiki/bin/view/ECAS2017/">2nd eCAS Workshop on Engineering Collective Adaptive Systems (ECAS 2017)</a></h2>

<!--<p>
  <em>The accepted workshops can be found <a href="workshops.html">here</a>.</em>
</p>-->




				</div>
				<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
#include "sidebar.include.html"
				</div>
			</div>
		</div>

#include "footer.include.html"

		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/ie10-viewport-bug-workaround.js"></script>
		<script src="libs/twitter_embed.js"></script>
	</body>
</html>
